:root{
    --custom1-font-1: 'Playfair Display', serif;
    --custom2-font-2: 'Raleway', sans-serif;
}


.gallery-heading h1{
    color: black; /* Text color of the heading */
    text-align: center;
    margin: 0;
    width: 100vw; /* Set the height to cover the full screen */
    /* box-sizing: border-box; */
    font-size: 20rem;
}

.column3 img{
    margin-top: 16.2rem;
}

.column1 p{
    margin-top: 12rem;
}

.gallery h1{
    font-family: var(--custom1-font-1);
    font-weight: 800;
    font-size: 17rem;
    padding: 0px;
}

.header-h h1{
    font-family: var(--custom2-font-2);
    font-weight: 900;
}

.playfair{
    font-family: var(--custom1-font-1);
    font-weight: 300;
    font-style: italic;
}

.header-p{
    font-family: var(--custom2-font-2);
    font-weight: 600;
}

.quote h1{
    font-family: var(--custom2-font-2);
    font-weight: 400;
    line-height: 1.4;
    font-size: 5rem;
}

.author h2{
    font-family: var(--custom1-font-1);
    font-style: italic;
    font-size:3rem;
}

.column1 p{
    font-family: var(--custom2-font-2);
    font-weight: 500;
}

.column3 p{
    font-family: var(--custom2-font-2);
    font-weight: 500;
}

.vision-content h1{
    font-family: var(--custom1-font-1);
    font-weight: 900;
    font-size: 8rem;
}

.vision-content p{
    font-family:var(--custom2-font-2);
    margin-right: 10rem;
    margin-left: 1.6rem;
    font-size: 1.2rem;
}

.ready-to-roll h1{
    font-family: var(--custom1-font-1);
    font-weight: 700;
    font-size: 4.5rem;
}

.explore-row{
    display: grid;
    grid-template-rows: repeat(2,19rem);
    grid-template-columns: 2fr;
    justify-content: center;
    align-items: center;
}

.ready-to-roll h2{
    font-family: var(--custom1-font-1);
    font-style: italic;
    font-weight: 400;
    font-size: 2.5rem;
}

.h1-line-1 h1{
    font-family: var(--custom1-font-1);
    font-weight: 600;
}

.lets-connect-button{
    border-radius: 1.2rem;
    font-family: var(--custom2-font-2);
    font-weight: 800;
}

.footer-content{
    display: grid;
    grid-template-columns:2fr;
    grid-template-rows: repeat(2,2fr);
    
}

.div-1{
    display: flex;
}

.div-2{
    align-self: flex-end;
    margin-left: 30rem;
}

.div-4{
    margin-left: 30rem;
}

.content-second h1{
    font-family: var(--custom2-font-2);
    font-size: 2rem;
}

.content-second{
    margin-top: 4rem;
    border-top: 2px solid black;
    padding-top: 4rem;
}

.explore-more-button{
    font-weight: 800;
    font-family: var(--custom2-font-2);
}

.explore-more-button button{
    font-weight: 800;
}

#header-video{
    width: 100%;
    height: auto;
}




/* -------About--------------------------- */

.header-content h1{
    font-family: var(--custom2-font-2);
    font-weight: 800;
    font-size: 8rem;
}

.lets-lead h1{
    font-family: var(--custom1-font-1);
    font-weight: 800;
    font-size: 8rem;
}

.lets-lead h2{
    font-family: var(--custom1-font-1);
    font-style: italic;
    font-size: 3rem;
}

.content-1 p{
    font-family: var(--custom2-font-2);
    font-weight: 600;
}

.content-2{
    font-family: var(--custom2-font-2);
    font-weight: 600;
}

/* .content-1-image{
    border-top: 2px solid black;
    padding-top: 3rem;
    
} */



/* ----------Contact------------------- */

.bg-join-party h1{
    font-family: var(--custom2-font-2);
    color: black;
    font-weight: 800;
    font-size: 7rem;
    text-align: center;
}

.form-group label{
    font-family: var(--custom2-font-2);
    font-weight: 700;
}

.form-group input{
    border-radius: 0px;
    border: 2px solid black;
}

.form-group textarea{
    border-radius: 0px;
    border: 2px solid black;
}

.form-group button{
    border: 2px solid black;
    border-radius: 1.2rem;
    font-family: var(--custom2-font-2);
    font-weight: 800; 
    padding: 1rem 2.5rem 1rem 2.5rem;
}

.lets-connect-text h1{
    font-family: var(--custom1-font-1);
    font-weight: 700;
    font-size: 5rem;
}


/* ---------work-----------*/

.header-content-work h1{
    font-family: var(--custom2-font-2);
    font-weight: 800;
    font-size: 7rem;
}

.dive-in-section h1{
    font-family: var(--custom1-font-1);
    font-size: 9rem;
    font-weight: 800;
}

.dive-in-section h2{
    font-family: var(--custom1-font-1);
    font-style: italic;
}

.fallacy-heading h2{
    font-family: var(--custom1-font-1);
    font-size: 4rem;
    
}

.justplay-heading h2{
    font-family: var(--custom1-font-1);
    font-size: 4rem;
}

.love-it-heading h1{
    font-family: var(--custom1-font-1);
    font-size: 10rem;
    font-weight: 600;
    color: black;
}

.happy-to-hear h2{
    font-family: var(--custom1-font-1);
    font-style: italic;
    font-size: 1.5rem;
}

.lets-connect-button{
    background-color: white;
    border: 2px solid black;
    border-radius: 1.2rem;
    font-family: var(--custom2-font-2);
    font-weight: 800; 
    padding: 1rem 2.5rem 1rem 2.5rem;
}

/* ------footer------- */
.footer-heading h1{
    font-family: var(--custom1-font-1);
}

.lifestyle-word{
    font-style: italic;
}

.copyright h2{
    font-family: var(--custom2-font-2);
    font-size: 1.8rem;
    font-weight: 300;
    margin-right: 2rem;
}

.nav-item a{
    font-family: var(--custom2-font-2);
    font-size: 1.4rem;
    color: white;
}

.footer-nav{
   padding-left: 17rem;
}

.social-heading h1{
    font-family: var(--custom2-font-2);
    font-weight: 300;
    font-size: 2rem;
}

.social-icons img{
    width: 2rem;
    height: 2rem;
}

/* ----------demo------------ */

.demo-navbar a{
    font-family: var(--custom1-font-1);
    color: black;
    font-weight: 700;
}

.button-style{
    text-decoration: none;
    border: none;
}

/* ------------------media queries mobile----------------------- */

@media (max-width: 430px){
    /* home */
    .header-h-1 h1{
        font-size: 5em;
        margin-right: 5em;
    }

    #header-video{
        width: auto;
        overflow:auto;
    }

    .brand-logo img{
        width: 3em;
        height: 3em;
    }

    .quote-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quote h1{
        text-align: center;
        font-size: 2.6em;
    }

    .playfair{
        padding: 1px;
    }

    .citation h2{
        font-size: 1.3em;
        text-align: center;
        margin-bottom: 2em;
    }

    .gallery-heading h1{
        font-size: 5em;
    }

    .column2{
        width: auto;
        order:-1
    }

    .column1{
        width: auto;
    }

    .column1-image{
        width: 50%;
    }

    .column1-para{
        order: 1;
    }

    .column3{
        width: auto;
    }

    .column3-image{
        width: 50%;
    }

    .vision-content{
        width: auto;
    }

    .vision-content h1{
        font-size: 5em;
        text-align: center;
    }

    .vision-content p{
        margin-bottom: 5em;
        margin-right: 2em;
        margin-top: 1em;
        text-align: center;
    }

    .vision-image{
        width: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .explore-row{
        width: auto;
    }

    .ready-to-roll{
        width: auto;
        order: -2;
    }

    .explore-and-portfolio{
        width:100%;
    }

    .explore-image{
        width: 50em;
        height: 50em;
        order: 2;
    }

    .ready-to-roll h1{
        text-align:left;
        justify-content: start;
        align-items: start;
        font-size: 4em;
        
    }

    .ready-to-roll h2{
        font-size: 2em;
    }

    .content-second h1{
        font-size: 1em;
    }

    .explore-more-button {
        padding: 0px;
        margin: 0px;
    }

    .explore-more-button button{
        padding: 0px;
        margin: 0px;
    }

    .content-second{
        margin:0px
    }

    .content-second button{
        margin: 0px;
    }

    
}
