.gallery-heading h1{
    color: black; /* Text color of the heading */
    text-align: center;
    margin: 0;
    width: 100vw; /* Set the height to cover the full screen */
    /* box-sizing: border-box; */
    font-size: 20rem;
}

.column3 img{
    margin-top: 16.2rem;
}

.column1 p{
    margin-top: 14.1rem;
}

